* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f30505, #d6d6d6);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: rgba(11, 9, 59, 0.875);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 1;
    z-index: 100000;
}

header h1 {
    font-size: 2.4rem;
    letter-spacing: 1px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10px; ;
}

nav ul li a {
    color: #b8b8ff;
    text-decoration: none;
    font-weight: 700;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.3s ease;
}

nav ul li a:hover {
    background-color: #f5f5f8;
    color: #7c0707;
}

.cards-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    border-radius: 15px;
    background: #2c2c3b;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 20px;
    flex: 1;
    max-width: 300px;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.progress-bar {
    width: 100%;
    background: #444;
    border-radius: 10px;
    height: 20px;
    margin-bottom: 10px;
}

.progress {
    height: 100%;
    background: #4caf50;
    border-radius: 10px;
}

.modal-btn {
    background-color: #3b3b73;
    border: none;
    padding: 10px 20px;
    color: wheat;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.modal-btn:hover {
    background-color: #2f2f58;
}